.data-table {
  height: 100%;
  overflow: scroll;
  position: relative;
}
.data-table .el-table table thead tr th {
  text-align: center;
}
.data-table .el-table table .cell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btn {
  width: 1rem;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
  background: #eb4452;
  color: #fff;
  border-radius: 10px;
}
